.headerBadge {
  margin-bottom: 4px;
  margin-left: 40px;
}

.headerText {
  font-size: 26px;
  line-height: 31px;
}

.listWrapper {
  margin-bottom: 64px;
  padding: 0 40px;
  :global(.ant-list-split .ant-list-item) {
    border-bottom: 0;
  }
  :global(.ant-list-split.ant-list-something-after-last-item
      .ant-spin-container
      > .ant-list-items
      > .ant-list-item:last-child) {
    border-bottom: 0;
  }
  :global(.ant-pro-card-border) {
    border: 0;
  }
}

.listItem {
  height: 56px;
  margin-bottom: 4px;
  padding: 0;
  border-bottom: 0;
  border-radius: 3px 0 0 3px;
}

.listItemAvatar {
  margin-right: 12px;
  margin-left: 20px;
}

.listItemCard_status {
  justify-content: center;
  height: 56px;
  background-color: #fafafa;
}

.listItemCard_level {
  justify-content: center;
  height: 56px;
  color: #f9f8f8;
}

.listItemCard_common {
  height: 56px;
  background-color: #fafafa;
}

.listItemOperate {
  transform: rotate(90deg);
}

.listItemIcon {
  margin-right: 4px;
}

.cardText {
  height: 100%;
  background-color: #fafafa;
  :global(.ant-pro-card-body-center) {
    justify-content: left;
  }
  :global(.ant-pro-card-body) {
    padding: 0;
  }
}

.listTitle {
  color: grey;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}

.title {
  margin-bottom: 8px;
}

.moreButton {
  background-color: #fafafa;
  border: 0;
  border-radius: 15px;
}

.moreButtonWrapper {
  height: 32px;
  margin-top: 12px;
  line-height: 32px;
  text-align: right;
}

// <div>
// <Avatar src={item.avatarUrl} className={styles.listItemAvatar} />
// <span>系统界面一片混乱</span>
// </div>
// <div>待运维补充材料</div>
// <div>紧急</div>
// <div>2021-04-08 01:18</div>
// <div>逾期 3 天 22 小时 24 分</div>
// <div>...</div>
