.headerAvatar {
  margin-right: 31px;
}

.headerWrapper {
  :global(.ant-tabs-nav) {
    margin: 0;
  }
}

.headerTitleText {
  width: 69px;
  height: 28px;
  color: #494949;
  font-weight: 500;
  font-size: 20px;
  font-family: PingFangSC, PingFangSC-Medium;
  line-height: 46px;
  text-align: left;
}
