.recentTicket {
  margin-left: 23px;
  color: grey;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
}

.menuItem {
  :global(.ant-menu-inline .ant-menu-item-selected::after) {
    transform: none;
    opacity: 0;
  }
  :global(.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected) {
    color: #757575;
    background-color: #e9e9e9;
  }
}

.moreButton {
  margin: 0 21px 0 10px;
}

.navigationWrapper {
  width: 200;
}

.navigationMenu {
  width: 242;
  border-right-width: 0;
}

.scene {
  cursor: pointer;
}

.sceneAvatar {
  width: 20px;
  height: 20px;
  margin: 0 21px 0 25px;
}

.sceneText {
  width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
