.text {
  font-size: 26px;
  line-height: 31px;
}

.cardText {
  :global(.ant-pro-card-body-center) {
    justify-content: left;
  }
}

.listTitle {
  color: grey;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
}
